<!doctype html>
<html lang="nb">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% set css %} {% include "styles.css" %} {% endset %}
<!-- feed it through our cssmin filter to minify -->
<style>
	{{ css | cssmin | safe }}
</style>
    <title>{{ title }}</title>
  </head>
{%- set tag = tags[0] %}
  <body class="{{ tag }}">
  <main>
{%- if title %}  
<h1>{{ title }}</h1>
{%- endif %}
    {{ content | safe }}

{%- if collections[tag] %}
{%- set previousPost = collections[tag] | getPreviousCollectionItem %}
{%- set nextPost = collections[tag] | getNextCollectionItem %}
{%- endif %}
<ul class="links-nextprev">
	<li class="prev">{%- if previousPost %}<- <a href="{{ previousPost.url }}">{{ previousPost.data.title or previousPost.fileSlug }}</a>{% endif %}</li>
  <li class="top"><a href="..">Opp</a></li>
	<li class="next">{%- if nextPost %}<a href="{{ nextPost.url }}">{{ nextPost.data.title or nextPost.fileSlug }}</a> ->{% endif %}</li>
</ul>
  </main>
  <footer>
   <a href="https://espenhw.github.io/skriblerier/">Espens skriblerier</a> © 2025 by <a href="https://github.com/espenhw/" target="_blank">Espen Wiborg</a>
   is licensed under <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">CC BY-NC-ND 4.0</a>
   <img src="https://mirrors.creativecommons.org/presskit/icons/cc.svg" style="max-width: 1em;max-height:1em;margin-left: .2em;">
   <img src="https://mirrors.creativecommons.org/presskit/icons/by.svg" style="max-width: 1em;max-height:1em;margin-left: .2em;">
   <img src="https://mirrors.creativecommons.org/presskit/icons/nc.svg" style="max-width: 1em;max-height:1em;margin-left: .2em;">
   <img src="https://mirrors.creativecommons.org/presskit/icons/nd.svg" style="max-width: 1em;max-height:1em;margin-left: .2em;">
  </footer>
  </body>
</html>
