---
title: Dikt
---
<p>
En samling dikt jeg har skrevet (eller gjendiktet) opp gjennom.   Jeg gir sjelden diktene mine titler; for det meste har de bare navn etter sånn ca. året de er skrevet, med løpenummer der det er relevant.
</p>

<ul>
{%- for post in collections.dikt -%}
  <li><a href="{{ post.url }}">{{ post.fileSlug }}{%- if post.data.title %} ({{ post.data.title }}){%- endif %}</a></li>
{%- endfor -%}
</ul>

<p>
<a href="/dikt/tags/">Kategorier</a>
</p>